@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.passage {
    font-family: 'Press Start 2P', monospace;
    text-align: justify;
    font-size: 0.9em;
}
.reinicio a {
    color: #f7e9ac;          /* Color del texto */
    font-weight: bold;   /* Negrita */
    /*background: yellow;   Fondo tipo marcador */
    padding: 4px 8px;    /* Espaciado */
    border-radius: 6px;  /* Bordes redondeados */
    text-decoration: none;
}

.reinicio a:hover {
background: orange;  /* Cambio al pasar el mouse */
color: white;
}
