@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.passage {
    font-family: 'Press Start 2P', monospace;
    text-align: justify;
    font-size: 0.9em;
}
.reinicio a {
    color: #f7e9ac;          /* Color del texto */
    font-weight: bold;   /* Negrita */
    /*background: yellow;   Fondo tipo marcador */
    padding: 4px 8px;    /* Espaciado */
    border-radius: 6px;  /* Bordes redondeados */
    text-decoration: none;
}

.reinicio a:hover {
background: #cd6d33;  /* Cambio al pasar el mouse */
color: white;
}
 
/* Pre formateado con estilo neon / pixel-art */
.ascii-neon {
    font-size: 25px;            /* tamaño más pequeño para mejor alineación */
    line-height: 1.5;           /* línea exacta para alineación perfecta */
    margin: 0;
    color: #cd6d33;             /* color base neón */
    display: inline-block;
    
}
